#selectedAnimal {
  justify-content: center;
  align-items: center;
  border: 5px solid #ccc; /* Add border around each card */
  margin-bottom: 200px;
  margin-left: 500px;
  padding: 5px; /* Add padding inside each card */
  border-radius: 5px; /* Add border radius for rounded corners */
  width: 200px; /* Set a fixed width for each card */
}

#visitor-cards {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap to the next row */
}
#related-animals {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap;
  justify-content: center;
}
.animal-card {
  border: 5px solid #ccc; /* Add border around each card */
  margin: 10px; /* Add margin between each card */
  padding: 5px; /* Add padding inside each card */
  border-radius: 5px; /* Add border radius for rounded corners */
  width: 200px; /* Set a fixed width for each card */
  margin: 10px; /* Add some margin between cards */
}
.card {
  border: 5px solid #ccc; /* Add border around each card */
  margin: 10px; /* Add margin between each card */
  padding: 5px; /* Add padding inside each card */
  border-radius: 5px; /* Add border radius for rounded corners */
  width: 200px; /* Set a fixed width for each card */
  margin: 10px; /* Add some margin between cards */
}
img {
  width: 70px;
  height: 70px;
}
#animal-cards {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center;
  margin-top: 200px;
}
.animal {
  border: 5px solid #ccc; /* Add border around each card */
  margin: 50px; /* Add margin between each card */
  padding: 20px; /* Add padding inside each card */
  border-radius: 5px; /* Add border radius for rounded corners */
}
#feed-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#close-dialog {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#close-dialog:hover {
  background-color: #0056b3;
}
